
ABD.BusinessService/obj/ABD.BusinessService.csproj.nuget.cache
.vs/AbstractDataBidningExample/v15/.suo
.vs/AbstractDataBidningExample/v15/Server/sqlite3/db.lock
.vs/AbstractDataBidningExample/v15/Server/sqlite3/storage.ide
.vs/AbstractDataBidningExample/v15/Server/sqlite3/storage.ide-shm
.vs/AbstractDataBidningExample/v15/Server/sqlite3/storage.ide-wal
ABD.BusinessService/obj/ABD.BusinessService.csproj.nuget.cache
ABD.BusinessService/obj/ABD.BusinessService.csproj.nuget.g.props
ABD.BusinessService/obj/Debug/netcoreapp2.2/ABD.BusinessService.assets.cache
ABD.BusinessService/obj/project.assets.json
ABD.WEB/obj/ABD.WEB.csproj.nuget.cache
ABD.WEB/obj/ABD.WEB.csproj.nuget.g.props
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.assets.cache
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.csproj.CoreCompileInputs.cache
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.csprojAssemblyReference.cache
ABD.WEB/obj/project.assets.json
