
ABD.BusinessService/obj/ABD.BusinessService.csproj.nuget.cache
.vs/AbstractDataBidningExample/v15/.suo
.vs/AbstractDataBidningExample/v15/Server/sqlite3/db.lock
.vs/AbstractDataBidningExample/v15/Server/sqlite3/storage.ide
.vs/AbstractDataBidningExample/v15/Server/sqlite3/storage.ide-shm
.vs/AbstractDataBidningExample/v15/Server/sqlite3/storage.ide-wal
ABD.BusinessService/obj/ABD.BusinessService.csproj.nuget.cache
ABD.BusinessService/obj/ABD.BusinessService.csproj.nuget.g.props
ABD.BusinessService/obj/Debug/netcoreapp2.2/ABD.BusinessService.assets.cache
ABD.BusinessService/obj/project.assets.json
ABD.WEB/obj/ABD.WEB.csproj.nuget.cache
ABD.WEB/obj/ABD.WEB.csproj.nuget.g.props
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.assets.cache
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.csproj.CoreCompileInputs.cache
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.csprojAssemblyReference.cache
ABD.WEB/obj/project.assets.json
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.Views.pdb
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.Views.dll
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.pdb
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.dll
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.csprojAssemblyReference.cache
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.csproj.FileListAbsolute.txt
ABD.WEB/obj/Debug/netcoreapp2.2/ABD.WEB.assets.cache
ABD.WEB/bin/Debug/netcoreapp2.2/ABD.WEB.Views.pdb
ABD.WEB/bin/Debug/netcoreapp2.2/ABD.WEB.Views.dll
ABD.WEB/bin/Debug/netcoreapp2.2/ABD.WEB.pdb
ABD.WEB/bin/Debug/netcoreapp2.2/ABD.WEB.dll
ABD.WEB/bin/Debug/netcoreapp2.2/ABD.BusinessService.pdb
ABD.WEB/bin/Debug/netcoreapp2.2/ABD.BusinessService.dll
ABD.BusinessService/obj/Debug/netcoreapp2.2/ABD.BusinessService.pdb
ABD.BusinessService/obj/Debug/netcoreapp2.2/ABD.BusinessService.dll
ABD.BusinessService/obj/Debug/netcoreapp2.2/ABD.BusinessService.csproj.FileListAbsolute.txt
ABD.BusinessService/obj/Debug/netcoreapp2.2/ABD.BusinessService.assets.cache
ABD.BusinessService/bin/Debug/netcoreapp2.2/ABD.BusinessService.pdb
ABD.BusinessService/bin/Debug/netcoreapp2.2/ABD.BusinessService.dll
